<!--
  The GA snippet
-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script defer src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics.id }}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.google_analytics.id }}', {
      'cookie_prefix': 'TaejooneBlogCookie',
      'cookie_domain': 'taejoone.jeju.onl',
      'cookie_expires': 28 * 24 * 60 * 60  // 28 days, in seconds      
    });

{% if page.collection? %}

  {% if page.collection=="posts"  %}
    gtag('event', 'blog_meta', {
      'event_category': 'category',
      'event_label': {{ page.categories? ? page.categories.join("-") : "" }},
    });
  {% elsif page.collection=="categories"  %}
    gtag('event', 'blog_meta', {
      'event_category': 'category',
      'event_label': {{ page.title? ? page.title : "unknown" }},
    });
  {% elsif page.collection=="tags"  %}
    gtag('event', 'blog_meta', {
      'event_category': 'category',
      'event_label': {{ page.title? ? page.title : "unknown" }},
    });
  {% else %}
    gtag('event', 'blog_meta', {
      'event_category': 'category',
      'event_label': {{ page.title? ? page.title : "unknown" }},
    });
  {% endif %}

{% endif %}

    gtag('event', 'blog_meta', {
      'event_category': 'collection',
      'event_label': {{ page.collection? ? page.collection : "unknown" }},
    });
  });
</script>
